node_modules/


# Build output
dist/
build/
coverage/

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Environment files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
